{% extends 'base.html' %}

{% block content %}

<h1> {{ recipe.name }} </h1>

<div>
    {% if recipe.recipe_ref %}
        Reference: {{ recipe.recipe_ref }} <br>
    {% endif %}
    Ingredients: <br>
    {% for ingredient in recipe.ingredients.all %}
        {{ ingredient.amount }}
        {% for unit in ingredient.unit_set.all %}
            {{ unit.measure }} fix this :(
        {% endfor %}
        {{ ingredient.name }}
    <br>
    {% endfor %}
    <br>

    Directions:
<!--    {% for direction in recipe.direction_set.all %}-->
<!--        {{ direction.step }}. {{ direction.description }} <br>-->
<!--    {% endfor %}-->
    {{ recipe.notes|linebreaks }}
</div>

<button type="button" class="btn btn-primary">
        <a href = "{% url 'recipes:edit-recipe' recipe.id %}" style="color:#FDFEFE;"> Edit </a>
</button>

{% endblock %}