{% extends 'base.html' %}

{% block content %}

<h1>Edit {{ recipe.name }}</h1>

<form action="" method="POST">
    {% csrf_token %}
        {{ form.name.label }}: {{ form.name }}<br>
    {{ form.category.label }}: {{ form.category }}
    {{ form.ingredients.label }}:
        <button type="button" class="btn btn-primary">
            <a href = "{% url 'recipes:edit-add-ingredient' recipe.id %}" style="color:#FDFEFE;"> + </a>
        </button><br>
        {% for ingredient in form.ingredients %}
            {{ ingredient }}
            <br>
        {% endfor %}
    {{ form.image_url.label }}: {{ form.image_url }}<br><br>
    {{ form.recipe_ref.label }}: {{ form.recipe_ref }}<br><br>
    {{ form.time_needed.label }}: {{ form.time_needed }} minutes<br>

    Directions/Notes:<br> {{ form.notes }} <br>
    <input type='submit' value='Save' />
</form>

{% endblock %}