{% extends 'base.html' %}

{% block content %}

{% if recipe %}
    <br><h3>Edit {{ recipe.name }}</h3>
{% endif %}

<form method="POST" action="">
  {% csrf_token %}<br>
  <div class="form-group">
      <label>{{ form.name.label }}</label>
      {{ form.name }}
  </div>

  <div class="form-group">
      <label>{{ form.category.label }}</label><br>
      {% for category in form.category %}
        {{ category }}<br>
      {% endfor %}
  </div>

  <div class="form-group">
      {% if recipe%}
        <label>{{ form.ingredients.label }} <a href = "{% url 'recipes:edit-add-ingredient' recipe.id %}"> + </a></label><br>
      {% else %}
        <label>{{ form.ingredients.label }} <a href = "{% url 'recipes:add-ingredient' %}"> + </a></label><br>
      {% endif %}

      {% for ingredient in form.ingredients %}
        {{ ingredient }}<br>
      {% endfor %}
  </div>

  <div class="form-group">
      <label>{{ form.image_url.label }}</label>
      {{ form.image_url }}
  </div>
  <div class="form-group">
      <label>{{ form.recipe_ref.label }}</label>
      {{ form.recipe_ref }}
  </div>
  <div class="form-group">
      <label>{{ form.time_needed.label }}</label>
      {{ form.time_needed }}
  </div>
  <div class="form-group">
      <label>Directions/Notes:</label>
      {{ form.notes }}
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}