{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-light">
    <div class="btn-group" role="group" aria-label="Basic example">
        {% for category in categories %}
<!--            <button type="button" class="btn btn-link btn-lg">-->
                <a class="navbar-brand" href="{% url 'recipes:category' category.name %}">{{ category.name }}</a>
<!--            </button>-->
        {% endfor %}
    </div>
</nav>

<h1>Recipes
    <button type="button" class="btn btn-primary">
        <a href = "{% url 'recipes:add-recipe' %}" style="color:#FDFEFE;"> Add </a>
    </button>
</h1>
<br>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 20rem;">
            <img src="{{ recipe.image_url }}" width="20" height="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href = "/recipes/{{ recipe.id }}/"> {{ recipe.name }}</a></h5>
                <p class="card-text">Time needed: {{ recipe.time_needed }} minutes</p>
            </div>
            <button type="button" class="btn btn-danger">
                <a href = "{% url 'recipes:delete-recipe' recipe.id %}" style="color:#FDFEFE;"> X </a>
            </button>
        </div>
        <br>
    </div>
    {% endfor %}
</div>

{% endblock %}